<h1
  class="max-w-[114rem] flex items-center justify-center mt-[100px] text-3xl h-[40px] text-white mx-auto bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text"
>
  Kalyan Kumar
</h1>
<p class="text-yellow-300 text-center mt-10 font-[poppins] ">I'm a Front-end developer with 3 years of experience <br/>having good knowledge on technologies <br/>like HTML,CSS,JAVASCRIPT,TYPESCRIPT,ANGULAR.</p>
<ul
  class="w-[50%] flex flex-col items-center justify-center p-5 mt-[20px] mx-auto"
>
  <a
    type="button"
    class="w-[250px] cursor-pointer m-5 p-3 h-12 items-center text-center font-[poppins] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg"
  >
    Facebook
  </a>
  <a
    class="w-[250px] cursor-pointer m-5 p-3 h-12 items-center text-center font-[poppins] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg"
  >
    Instagram
  </a>
  <a
    class="w-[250px] cursor-pointer m-5 p-3 h-12 items-center text-center font-[poppins] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg"
  >
    Github
  </a>
  <a
    class="w-[250px] cursor-pointer m-5 p-3 h-12 items-center text-center font-[poppins] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg"
  >
    Email
  </a>
</ul>
